<fieldset>
  <legend><span>RSS</span></legend>
  <%= form.fields_for :config do |config| %>
    <div class="clearfix">
      <%= config.label :url %>
      <div class="input">
        <%= config.text_field 'url', :placeholder => 'http://feeds.bbci.co.uk/news/rss.xml', :size => 100 %>
      </div>
    </div>
    <div class="clearfix">
      <%= config.label :output_format, 'Display Format' %>
      <div class="input">
        <%= config.select :output_format, [["Headlines", "headlines"], ["Articles", "detailed"]] %>
      </div>
    </div>
  <% end %>
</fieldset>
